name: Build nuscr (Windows)

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-nuscr-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout current repo
        uses: actions/checkout@v4

      - name: Clone nuscr
        run: |
          git clone https://github.com/nuscr/nuscr.git

      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "5.1"

      - name: Install nuscr dependencies
        shell: powershell
        run: |
          cd nuscr
          opam update
          opam pin add nuscr . -n
          opam install nuscr --deps-only -y

      - name: Build nuscr
        shell: powershell
        run: |
          cd nuscr
          opam env | Invoke-Expression
          dune build bin/nuscr.exe

      - name: Upload nuscr.exe
        uses: actions/upload-artifact@v4
        with:
          name: nuscr-windows
          path: nuscr/_build/default/bin/nuscr.exe
